/* Jordan Justen : gears3d is public domain */

html, body, center {
    background-color: black;
    color: #a0a0c0;
}

a {
    color: #4080c0;
    text-decoration: none;
}

a:hover {
    color: #b0b0f0;
    text-decoration: underline;
}

canvas#gears3d {
    width: 300px;
}
